@charset "UTF-8";
/*
Theme Name: Brian Koehler One
Theme URI: https://example.com/themes/brian-koehler-one
Author: the Brian Koehler
Author URI: https://langarabrian.gitlab.io
Description: Child theme demo for CPSC 2030
Template: twentyseventeen
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: bk1
Tags: one-column
*/



.home #post-65{
    background-color: darkorange;
}

.home #post-5{
    background-color: seashell;

}

.home #post-1{
    background-color: limegreen;
    
}

.page-id-13 .site-content-contain .wrap{
    background-color:cyan;
    border: solid Aquamarine 50px;
}

.page-id-13 .wp-block-quote{
    text-align:center;
    color : blue;
    font-style: italic;
}

.page-id-13 .site-footer .widget_media_image {
        text-align:center;
        background-color: yellow;
        padding: 50px;
}